<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p>Name <input type='text' name='name'></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <!-- 아래는 과제 내용 -->
        <p>Gender:
            <input type="radio" name="gender" value="Male"> Male
            <input type="radio" name="gender" value="Female"> Female
        </p>
        <p>Major <input type = 'text' name = 'major'></p>
        <p>Programming_lang:
            <input type="checkbox" name="prog_lang" value="Python"> Python
            <input type="checkbox" name="prog_lang" value="Java"> Java
            <input type="checkbox" name="prog_lang" value="HTML"> HTML
            <input type="checkbox" name="prog_lang" value="C++"> C++
        </p>
        
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>
